@using System.Diagnostics
@using Domain.Models
@using FinanceManager.Models
@model Domain.Models.Income

@{
    DateTime dateOf = DateTime.Now;
    DateTime dateTo = DateTime.Now;
    if (@ViewBag.dateOf != null && @ViewBag.dateTo != null)
    {
        dateOf =  @ViewBag.dateOf;
        dateTo = @ViewBag.dateTo;
    }



   

    <Table class="table">
        <tr>
            <th>Amount:</th>
            <th>Date:</th>
            <th>Type:</th>
            <th>Description:</th>

        </tr>
        @foreach (Domain.Models.Income income in ViewBag.Income)
        {
            <tr>
                <th>@Html.Label(string.Format("{0}zł", income.Amount)) </th>
                <th>@Html.Label(income.Date.ToString()) </th>
                <th>@Html.Label(income.Source.Name.ToString()) </th>
                <th>@Html.Label(income.Description != null ? income.Description : string.Empty) </th>
            </tr>

        }
        <tr>
            <th>Suma: </th>

            <th>@string.Format("{0}zł", @ViewBag.incomeSum)</th>

    </Table>


}
