@model Domain.Models.Income
<div class="form-group">
    @using (Html.BeginForm("AddIncommingAmount", "FinancialManager", FormMethod.Post, new { id = "ID" }))
    {

        @Html.Label("Amount: ", new { @class = "form-control-static" });   @Html.TextBoxFor(x => x.Amount, new { @class = "form-control" });
        <br />

        List<SelectListItem>
            elements = new List<SelectListItem>
                ();

        foreach (Domain.Models.SourceOfAmount type in ViewBag.Type)
        {
            elements.Add(new SelectListItem()
            {
                Value = type.ID.ToString(),
                Text = type.Name,

            });
        }

        @Html.Label("Type: ", new { @class = "form-control-static" });   @Html.DropDownListFor(x => x.SourceID, new List<SelectListItem>(elements), new { @class = "form-control" });
        <br />
        @Html.Label("Description: ", new { @class = "form-control-static" }); @Html.TextAreaFor(x => x.Description, new { @class = "form-control" });
        <br />

        <input type="submit" value="Dodaj Kwote" class="form-control" />




    }
</div>

