<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="masthead">
            <h3 class="text-muted">@Html.ActionLink("Application Name", $"Index", $"Home")</h3>
            <ul class="nav nav-justified">
                <li>@Html.ActionLink("Financial Manager", MVC.Financial.Index())</li>
                <li>@Html.ActionLink("About", MVC.Home.About())</li>
                <li>@Html.ActionLink("Contact", MVC.Home.Contact())</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        <table style="width:auto" class="nav nav-justified" id="tbPerson"></table>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        @{Html.RenderPartial("_Footer");}
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function ClearTable(element) {
            $(element).html('');
        }

        $(showList).click(function () {
            var api = "http://localhost:37634/HelloWorld/GetPersons";
            $.getJSON(api).done(function (data) {
                ClearTable("#tbPerson");
                for (var i = 0; i < data.length; i++) {

                    $("<tr>"
                        + "<th>" + data[i].Name + "</th>" + "<th>" + data[i].SubName + "</th>" + "<th>" + data[i].Age + "</th>" +
                     "</tr>").appendTo("#tbPerson");
                }

            })
        });
    </script>
</body>
</html>