@using Domain.Models
@model Domain.Models.Income

@{

    double sum = 0;
    <Table>
        <tr>
            <th>Amount:</th>
            <th>Date:</th>
            <th>Type:</th>
            <th>Description:</th>

        </tr>
        @foreach (Domain.Models.Income income in ViewBag.Income)
        {
            <tr>
                <th>@Html.Label(string.Format("{0}zł", income.Amount)) </th>
                <th>@Html.Label(income.Date.ToString()) </th>
                <th>@Html.Label(income.Source.Name.ToString()) </th>
                <th>@Html.Label(income.Description != null ? income.Description : string.Empty) </th>
            </tr>

        }
        <tr>
            <th>@Html.Label("Suma: ")</th>

            sum=@Html.Action("SumOfIncome", "Financial", new { incomes = ViewBag.Income });
            <th>@string.Format("{0}", sum)</th>
        </tr>
    </Table>

}
